## Exercise 1: Write a Pandas program to create and display a DataFrame from a specified dictionary data which has the index labels.

In [2]:
import numpy as np
import pandas as pd

In [3]:
exam_data  = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

In [72]:
#Pandas program to create and display a DataFrame from a specified dictionary data which has the index labels.
def display_dataframe(d,index,column_names):
    df = pd.DataFrame(d)
    df.index = index
    df_copy = df[column_names]
    print(df_copy)
    return(df_copy)

index = ['a','b','c','d','e','f','g','h','i','j']
column_names = ['name','score','attempts','qualify']
df_copy = display_dataframe(exam_data,index,column_names)
df_copy

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

## Exercise 2: Write a Pandas program to select the rows where number of attempts in the examination is less than 2 and score greater than 15.
##### Use Data from previous problem

Number of attempts in the examination is less than 2 and score greater than 15 :
    name  score  attempts qualify
j  Jonas   19.0         1     yes

In [71]:
df_copy[(df_copy['attempts']<2) & (df_copy['score']>15)]

    name  score  attempts qualify
j  Jonas   19.0         1     yes

## Exerise 3: Change the value in row 'd' to 11.5
##### Use Data from previous questions

Original data frame:
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

Change the score in row 'd' to 11.5:
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James   11.5         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

In [73]:
print('Original data frame:')
print(df_copy)
df_copy.at['d','score'] = 11.5
print('Change the score in row \'d\' to 11.5:')
print(df_copy)

Original data frame:
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes
Change the score in row 'd' to 11.5:
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James   11.5         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

## Exercise 4: Write a Pandas program to calculate the sum of the examination attempts by the students.
data: d = {'col1': [1, 4, 3, 4, 5], 'col2': [4, 5, 6, 7, 8], 'col3': [7, 8, 9, 0, 1]}

In [79]:
#Pandas program to calculate the sum of the examination attempts by the students
print('sum of the examination attempts by the students')
print(df['attempts'].sum())

sum of the examination attempts by the students
19

Original DataFrame
   col1  col2  col3
0     1     4     7
1     4     5     8
2     3     6     9
3     4     7     0
4     5     8     1
Rows for colum1 value == 4
   col1  col2  col3
1     4     5     8
3     4     7     0

In [84]:
d = {'col1': [1, 4, 3, 4, 5], 'col2': [4, 5, 6, 7, 8], 'col3': [7, 8, 9, 0, 1]}
df4 = pd.DataFrame(d)
print('Original DataFrame')
print(df4)

print('Rows for colum1 value == 4')
print(df4.loc[(df4['col1'] == 4) | (df4['col2'] == 4) | (df4['col3'] == 4)])

Original DataFrame
   col1  col2  col3
0     1     4     7
1     4     5     8
2     3     6     9
3     4     7     0
4     5     8     1
Rows for colum1 value == 4
   col1  col2  col3
0     1     4     7
1     4     5     8
3     4     7     0

## Exercise 5: Drop a list of rows from a specified DataFrame
###### data: 
d = {'col1': [1, 4, 3, 4, 5], 'col2': [4, 5, 6, 7, 8], 'col3': [7, 8, 9, 0, 1]}

Original DataFrame
   col1  col2  col3
0     1     4     7
1     4     5     8
2     3     6     9
3     4     7     0
4     5     8     1
New DataFrame after removing 2nd & 4th rows:
   col1  col2  col3
0     1     4     7
1     4     5     8
3     4     7     0

In [93]:
df5 = df4.copy()
print('Original DataFrame')
print(df5)
print('New DataFrame after removing 2nd & 4th rows:')
df5 = df5.drop([2,4])
print(df5)

Original DataFrame
   col1  col2  col3
0     1     4     7
1     4     5     8
2     3     6     9
3     4     7     0
4     5     8     1
New DataFrame after removing 2nd & 4th rows:
   col1  col2  col3
0     1     4     7
1     4     5     8
3     4     7     0

## Exercise 6:  Check whether a given column is present in a DataFrame or not
###### data: 
d = {'col1': [1, 2, 3, 4, 7], 'col2': [4, 5, 6, 9, 5], 'col3': [7, 8, 12, 1, 11]}

Original DataFrame
   col1  col2  col3
0     1     4     7
1     2     5     8
2     3     6    12
3     4     9     1
4     7     5    11
Col4 is not present in DataFrame.
Col1 is present in DataFrame.

In [108]:
d = {'col1': [1, 2, 3, 4, 7], 'col2': [4, 5, 6, 9, 5], 'col3': [7, 8, 12, 1, 11]}
df6 = pd.DataFrame(d)
print('Original DataFrame')
print(df6)
df6.columns
def check_column(df,column_name):
    if column_name in df.columns:
        print('{0} is present in DataFrame'.format(column_name))
    else:
        print('{0} is not present in DataFrame'.format(column_name))

check_column(df6,'Col4')
check_column(df6,'col2')
check_column(df6,'col1')

Original DataFrame
   col1  col2  col3
0     1     4     7
1     2     5     8
2     3     6    12
3     4     9     1
4     7     5    11
Col4 is not present in DataFrame
col2 is present in DataFrame
col1 is present in DataFrame

## Exercise 7: Get column index from column name of a given DataFrame

###### data: 
d = {'col1': [1, 2, 3, 4, 7], 'col2': [4, 5, 6, 9, 5], 'col3': [7, 8, 12, 1, 11]}

##### HINT: Try using a function called get_loc():
Syntax: 
dataframe.columns.get_loc()

Original DataFrame
   col1  col2  col3
0     1     4     7
1     2     5     8
2     3     6    12
3     4     9     1
4     7     5    11

Index of 'col2'
1

In [122]:
d = {'col1': [1, 2, 3, 4, 7], 'col2': [4, 5, 6, 9, 5], 'col3': [7, 8, 12, 1, 11]}
df7 = pd.DataFrame(d)
print('Original DataFrame')
print(df7)
print("Index of 'col2'")
print(df7.columns.get_loc('col2'))

Original DataFrame
   col1  col2  col3
0     1     4     7
1     2     5     8
2     3     6    12
3     4     9     1
4     7     5    11
Index of 'col2'
1

## Exercise 8: Write a Pandas program to select all columns, except one given column in a DataFrame.
###### Use same data as previous problem

Original DataFrame
   col1  col2  col3
0     1     4     7
1     2     5     8
2     3     6    12
3     4     9     1
4     7     5    11

All columns except 'col3':
   col1  col2
0     1     4
1     2     5
2     3     6
3     4     9
4     7     5

In [129]:
print('Original DataFrame')
print(df7)
print("All columns except 'col3':")
print(df7.loc[:, df7.columns != 'col3'])

Original DataFrame
   col1  col2  col3
0     1     4     7
1     2     5     8
2     3     6    12
3     4     9     1
4     7     5    11
All columns except 'col3':
   col1  col2
0     1     4
1     2     5
2     3     6
3     4     9
4     7     5

## Exercise 9:  Write a Pandas program to remove last n rows of a given DataFrame.

Original DataFrame
   col1  col2  col3
0     1     4     7
1     2     5     5
2     3     6     8
3     4     9    12
4     7     5     1
5    11     0    11

After removing last 3 rows of the said DataFrame:
   col1  col2  col3
0     1     4     7
1     2     5     5
2     3     6     8

In [147]:
#Pandas program to remove last n rows of a given DataFrame.
def drop_nrows1(df,n):
    print('Method 1')
    print('After removing last 3 rows of the said DataFrame:')
    df = df[:n]
    print(df)
    return(df)

def drop_nrows2(df,n):
    print('Method 2')
    print('After removing last 3 rows of the said DataFrame:')
    df = df.drop(df.tail(n-1).index)
    print(df)
    return(df)
    
print('Original DataFrame')
df8 = df7.copy()
print(df8)
drop_nrows1(df8,3)
drop_nrows2(df8,3)

Original DataFrame
   col1  col2  col3
0     1     4     7
1     2     5     8
2     3     6    12
3     4     9     1
4     7     5    11
Method 1
After removing last 3 rows of the said DataFrame:
   col1  col2  col3
0     1     4     7
1     2     5     8
2     3     6    12
Method 2
After removing last 3 rows of the said DataFrame:
   col1  col2  col3
0     1     4     7
1     2     5     8
2     3     6    12

   col1  col2  col3
0     1     4     7
1     2     5     8
2     3     6    12

## Exercise 10: Display the movies longer than 30 minutes and shorter than 360 minutes

List of movies longer than 30 minutes and shorter than 360 minutes:
                                       Title  Runtime (Minutes)
0                    Guardians of the Galaxy                121
1                                 Prometheus                124
2                                      Split                117
3                                       Sing                108
4                              Suicide Squad                123
5                             The Great Wall                103
6                                 La La Land                128
7                                   Mindhorn                 89
8                         The Lost City of Z                141
9                                 Passengers                116
10   Fantastic Beasts and Where to Find Them                133
11                            Hidden Figures                127
12                                 Rogue One                133
13                                     Moana                107
14                                  Colossal                109
15                   The Secret Life of Pets                 87
16                             Hacksaw Ridge                139
17                              Jason Bourne                123
18                                      Lion                118
19                                   Arrival                116
20                                      Gold                120
21                     Manchester by the Sea                137
22                            Hounds of Love                108
23                                    Trolls                 92
24              Independence Day: Resurgence                120
25                           Paris pieds nus                 83
26                   Bahubali: The Beginning                159
27                                Dead Awake                 99
28                                  Bad Moms                100
29                          Assassin's Creed                115
..                                       ...                ...
970                        Texas Chainsaw 3D                 92
971                                Disturbia                105
972                             Rock of Ages                123
973                                 Scream 4                111
974                           Queen of Katwe                124
975               My Big Fat Greek Wedding 2                 94
976                              Dark Places                113
977                            Amateur Night                 92
978           It's Only the End of the World                 97
979                       The Skin I Live In                120
980                     Miracles from Heaven                109
981                                    Annie                118
982                      Across the Universe                133
983                            Let's Be Cops                104
984                                      Max                111
985                            Your Highness                102
986                      Final Destination 5                 92
987                             Endless Love                104
988                                  Martyrs                 99
989                                    Selma                128
990           Underworld: Rise of the Lycans                 92
991                         Taare Zameen Par                165
992                     Take Me Home Tonight                 97
993                 Resident Evil: Afterlife                 97
994                                Project X                 88
995                     Secret in Their Eyes                111
996                          Hostel: Part II                 94
997                   Step Up 2: The Streets                 98
998                             Search Party                 93
999                               Nine Lives                 87

[1000 rows x 2 columns]

In [168]:
df10 = pd.read_csv('IMDB-Movie-Data.csv')

print('List of movies longer than 30 minutes and shorter than 360 minutes:')
#df.loc[rows,colums]
print(df10.loc[(df10['Runtime (Minutes)']>30) & (df10['Runtime (Minutes)']<360),['Title','Runtime (Minutes)']])

List of movies longer than 30 minutes and shorter than 360 minutes:
                                       Title  Runtime (Minutes)
0                    Guardians of the Galaxy                121
1                                 Prometheus                124
2                                      Split                117
3                                       Sing                108
4                              Suicide Squad                123
5                             The Great Wall                103
6                                 La La Land                128
7                                   Mindhorn                 89
8                         The Lost City of Z                141
9                                 Passengers                116
10   Fantastic Beasts and Where to Find Them                133
11                            Hidden Figures                127
12                                 Rogue One                133
13                                     Moana                107
14                                  Colossal                109
15                   The Secret Life of Pets                 87
16                             Hacksaw Ridge                139
17                              Jason Bourne                123
18                                      Lion                118
19                                   Arrival                116
20                                      Gold                120
21                     Manchester by the Sea                137
22                            Hounds of Love                108
23                                    Trolls                 92
24              Independence Day: Resurgence                120
25                           Paris pieds nus                 83
26                   Bahubali: The Beginning                159
27                                Dead Awake                 99
28                                  Bad Moms                100
29                          Assassin's Creed                115
..                                       ...                ...
970                        Texas Chainsaw 3D                 92
971                                Disturbia                105
972                             Rock of Ages                123
973                                 Scream 4                111
974                           Queen of Katwe                124
975               My Big Fat Greek Wedding 2                 94
976                              Dark Places                113
977                            Amateur Night                 92
978           It's Only the End of the World                 97
979                       The Skin I Live In                120
980                     Miracles from Heaven                109
981                                    Annie                118
982                      Across the Universe                133
983                            Let's Be Cops                104
984                                      Max                111
985                            Your Highness                102
986                      Final Destination 5                 92
987                             Endless Love                104
988                                  Martyrs                 99
989                                    Selma                128
990           Underworld: Rise of the Lycans                 92
991                         Taare Zameen Par                165
992                     Take Me Home Tonight                 97
993                 Resident Evil: Afterlife                 97
994                                Project X                 88
995                     Secret in Their Eyes                111
996                          Hostel: Part II                 94
997                   Step Up 2: The Streets                 98
998                             Search Party                 93
999                               Nine Lives                 87

[1000 rows x 2 columns]